<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1047338942082-kub288l5ll2bnrr3ng5b23j5k0bots43.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1047338942082-kub288l5ll2bnrr3ng5b23j5k0bots43</string>
	<key>API_KEY</key>
	<string>AIzaSyCn7wiXrD-TX0ni-1hkkSIZ0ieyVgU9MU4</string>
	<key>GCM_SENDER_ID</key>
	<string>1047338942082</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.MinKim.HiLondon</string>
	<key>PROJECT_ID</key>
	<string>hilondon-103dc</string>
	<key>STORAGE_BUCKET</key>
	<string>hilondon-103dc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1047338942082:ios:69cb256660f2ab558dfe9b</string>
</dict>
</plist>